header nav {
    height: 100%;
    flex-direction: row;
}

header nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li:last-child .bdr {
    border-left: 1px solid #fff;
}

header nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}

header .hamburguer {
    left: 1rem;
}

.first {
    left: 6px;
}

.second {
    left: 88px;
}

.third {
    left: 168.5px;
}

@media screen and (max-width: 470px) {
    header .hamburguer {
        left: auto;
        right: 1rem;
    }
}